{#
/**
 * @file
 * Default theme implementation for a four-column 25%-25%-25%-25% layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'l-container',
    'l-container--fourcol',
  ]
%}
{% if content %}
  <div{{attributes.addClass(classes)}}>
    <h2 class='c-title'>{{ content['#settings']['section_title'] }}</h2>
    <div class='l-grid'>
      {% if content.first %}
        <div {{ region_attributes.first.addClass('l-grid__item', 'l-grid__item--first') }}>
          {{ content.first }}
        </div>
      {% endif %}

      {% if content.second %}
        <div {{ region_attributes.second.addClass('l-grid__item', 'l-grid__item--second') }}>
          {{ content.second }}
        </div>
      {% endif %}

      {% if content.third %}
        <div {{ region_attributes.third.addClass('l-grid__item', 'l-grid__item--third') }}>
          {{ content.third }}
        </div>
      {% endif %}

      {% if content.fourth %}
        <div {{ region_attributes.fourth.addClass('l-grid__item', 'l-grid__item--fourth') }}>
          {{ content.fourth }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
